@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.footer {
  width: 100%;
  background-color: $color-primary;
  color: $color-white;
  padding: 2rem 0;
  text-align: center;
  margin-top: auto;

  small {
    font-family: $font-family-en;
    font-size: 0.875rem;
    display: inline-block;
    width: 100%;
  }
}