@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: rgba($color-white, 0.95);
  z-index: 100;
  backdrop-filter: blur(5px);

  &__inner {
    @include container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 120px;
  }

  &__nav {
    ul {
      display: flex;
      gap: 2rem;
    }

    a {
      font-family: $font-family-en;
      font-size: 0.875rem;
      font-weight: $font-weight-medium;
      color: $color-link;
      @include hover-opacity;
    }
  }
}