@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.concept {
  background-color: $color-white;

  &__content {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
  }

  &__text {
    font-size: 1.125rem;
    line-height: 2;

    br {
      @include mq($breakpoint-md) {
        display: none;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}